@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
 
  color: #fff;
  background: rgba(2, 0, 36, 0.922);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(114,114,232,1) 35%, rgba(0,212,255,1) 100%);
}

